.footer {
    background-color: rgb(68, 68, 117);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 2rem;
    color: whitesmoke;

    .footer-links {
        display: flex;

        li {
            list-style: none;
            text-transform: capitalize;
            margin: 0 10px;
        }
    }

}