<div class="login-form">   
    <form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2 class="">login</h2>
        <input type="text" formControlName="email" placeholder="Enter email" class="form-control my-2" >
        <input type="password" formControlName="password" placeholder="Enter password" class="form-control">
        <button class="btn btn-success my-3">login</button>
        <div class="form-links">
            <small>Forgot password ?</small>
            <small routerLink="/signup">Don't have an acc ? sign up</small>
        </div>
    </form>   
</div>