.signup-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 122px);   
   

    .form-group {
        width: 400px;
        align-items: center;
        border-radius: 5px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);


        button {
            padding: .6rem 2rem;
        }

        .form-links {
            width: 100%;
            display: flex;
            color: gray;
            justify-content: space-between;

            small {
                cursor: pointer;
                transition: all ease;

                &:hover {
                    color: rgb(63, 63, 247);
                }
            }
        }
       
    }

}

        
