
<div class="wrapper">
    <div class="user-details">
        <h4 class="title">
            brown-kid
        </h4>
        <small>user email: cartier@gmail.com</small>
        <div class="my-3">
            <button class="btn btn-primary" (click)="showResetPassword()">change password</button>
        </div>
    </div>
    <!-- <div class="password-reset-form"  *ngIf="changePassword">   
        <form class="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="onFormSubmit()">
            <p class="">change password</p>
            <input type="oldPassword" formControlName="oldPassword" placeholder="Enter old email" class="form-control my-2" >
            <input type="newPassword" formControlName="newPassword" placeholder="Enter new  password" class="form-control">
            <button class="btn btn-success my-3">save</button>     
        </form>   
    </div>     -->
</div>